.StackContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.StackContainer h1:nth-child(1) {
    color: #ffb853;
}

.StackContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Stack {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    width: 275px;
    height: 270px;
    text-align: center;
    border-radius: 15px;
    background: rgb(0, 0, 0, .4);
}

.Stack p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.Icon {
    font-size: 40px;
}

.StackIcons {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.Tech {
    font-size: 17px;
    position: relative;
    display: block;
    cursor: pointer;
    color: #2fd793;
}

@media only screen and (max-width:991px) {
    .StackContent {
        flex-wrap: wrap;
    }

    .Stack {
        width: 200px;
        height: 200px;
    }

    .Icon {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .Stack {
        height: 170px;
    }
}
